h1{
    color: red
}

.home {
    display: flex;
    padding: 25%;
}

.income {
    background-color: rgb(29, 146, 29);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px;
}
.expense {
    background-color: rgb(184, 24, 24);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px;
    margin-right:auto
}
.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    background-color: #f0f0f0;
}

.header a {
    text-decoration: none;
    color: #333;
}